<!DOCTYPE html>
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="fragment" content="!">

  <title>{{appName}} - {{title}}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="keywords" content="node.js, express, mongoose, mongodb, angularjs, swig">
  <meta name="description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">

  <meta property="fb:app_id" content="APP_ID">
  <meta property="og:title" content="{{appName}} - {{title}}">
  <meta property="og:description" content="MEAN - A Modern Stack: MongoDB, ExpressJS, AngularJS, NodeJS. (BONUS: Passport User Support).">
  <meta property="og:type" content="website">
  <meta property="og:url" content="APP_URL">
  <meta property="og:image" content="APP_LOGO">
  <meta property="og:site_name" content="MEAN - A Modern Stack">
  <meta property="fb:admins" content="APP_ADMIN">

  <link rel="manifest" href="/system/assets/static/manifest.json">
  
  <!-- {{locals.config.cssFramework}} -->
  <!-- Bing Ma -->
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

  {% for file in aggregatedassets.header.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.footer.css %}
    <link rel="stylesheet" href="{{file}}">
  {% endfor %}

  {% for file in aggregatedassets.header.js %}
    <script type="text/javascript" src="{{file}}"></script>
  {% endfor %}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
